@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

aside {
  padding: 1rem;
  border: 1px solid #333;
  margin-bottom: 1rem;
}

.active {
  border-bottom: 2px solid #000;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-top: 3em;
  border: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  background-color: white;
  color: black;
}

.navbar-default {

  .navbar-brand,
  .navbar-nav>li>a {
    color: black;

  }

  .navbar-brand {
    font-weight: 700;
    font-size: 1.25em;
    letter-spacing: 3px;
  }
}

.container-fluid {
  background-color: #fff;
}

.navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

#carouselIndicators {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

#carosuelInstitutionalPartnersIndicators {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
