<footer class="pt-5 my-5 text-muted border-top">

    <div class="d-flex p-2 justify-content-center align-items-center">
      <img src="/img/neh-logo.png" width="200" height="auto" class="float-left me-4" alt="National Endowment for the Humanities">
      <img src="/img/ukri-ahrc-square-logo.png" width="100" height="auto" class="float-left me-4" alt="Arts and Humanities Research Council">
      <img src="/img/rrchnm-logo.png" width="200" height="auto" class="float-left me-4" alt="Roy Rosenzweig Center for History and New media">
      <img src="/img/gmu-logo.png" width="100" height="auto" class="float-left" alt="George Mason University">
      <img src="/img/edinburgh-logo.png" width="200" height="auto" class="float-left" alt="George Mason University">
    </div>

    <p>Connecting Threads is generously funded in part by the <a href="https://www.neh.gov">National Endowment for the Humanities</a> and the <a href="https://www.ukri.org/councils/ahrc/">Arts and Humanities Research Council</a>, and developed by the <a href="https://rrchnm.org">Roy Rosenzweig Center for History and New Media</a> at George Mason University.</p>
  </footer>
</div>

  </body>
</html>
