<header class="d-flex align-items-center pb-3 mb-5 border-bottom">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <img
      src="/img/logo.png"
      alt="Connecting Threads"
      class="h-50 mr-3"
      width="400"
      height="400"
    />
    <span class="fs-4"
      >A born-digital project on the use of Indian and Indian-imitation textiles
      by the African diaspora in the Americas in the eighteenth and nineteenth
      centuries.
    </span>
  </a>
</header>
