<div class="container">
  <header class="site-navbar site-navbar-target" role="banner">
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- logo -->
      <a class="navbar-brand" href="/">
        <img
        src="/img/logo.png"
        alt="Connecting Threads"
        class="h-50 mr-3"
        width="100"
        height="100"
      />
    </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav navbar-right">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          <li class="nav-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </nav>
  </header>
</div>

